{% extends "layout.html"%}
{% block content %}
<div class= "content">
    <div class="form">
        <form action="/" method="post">
            <label for="restaurant">Choose a Restaurant</label>
            <select name="restaurant">
                {% for rest in data.restaurants %}
                <option> {{ rest }} </option>
                {% endfor %}
            </select>
            <label for="option" >Choose the Measurment</label>
            <select name="option">
                <option> CSM </option>
                <option> Average CSM vs Yelp Factor</option>
                <option> Vegetarian Factor vs Average Tip </option>
                <option> Vegetarian Factor vs Yelp Factor</option>
            </select>
            <label for="date">Choose a Date </label>
            <select name="date">
                {% for d in data.dlist %}
                <option> {{ d }} </option>
                {% endfor %}
            </select>
            <input type="submit" value="submit">
        </form>
    </div>
    <div class="results">
            <h2> {{ restaurant_name }} </h2>
            <div id="selected">
                {% for s in selected %}
                <div class="selected"> {{ s }} </div>
                {% endfor %}
            </div>
            <div id="result">
                {% for r in result %}
                <div class="result"> {{ r }} </div>
                {% endfor %}
            </div>
    </div>
</div>
{% endblock %}
